HTML
{
	scroll-snap-type: y mandatory;
}
HTML, BODY
{
	margin: 0;
	padding: 0;
	height: 100%;
}
HTML
{
	overflow-y: auto;
}
SECTION
{
	position: relative;
	overflow: hidden;
	height: 100%;
	padding-top: 0.02px;
	padding-bottom: 0.02px;
	scroll-snap-align: start;
	scroll-snap-stop: always;
}